---
---
$font-stack: Arial, Helvetica, sans-serif;
$highlight_color: orange;
$smallprint_size: 0.95em;

body {
  font-family: $font-stack;
  background: #eee;
  color: #000;
}

blockquote {
  border-left: 3px solid $highlight_color;
  padding-left: 1em;
}

footer {
  font-size: $smallprint_size;
  text-align: center;
}
