---
---
$font-stack: Arial, Helvetica, sans-serif;
$highlight_color: orange;

body {
  font-family: $font-stack;
  background: #eee;
  color: #000;
}

blockquote {
  border-left: 3px solid $highlight_color;
}
