---
---
$font-stack: Arial, Helvetica, sans-serif;
$highlight_color: orange;
$smallprint_size: 0.95em;

body {
  font-family: $font-stack;
  background: #eee;
  color: #000;
}

#page {
  margin: 0.5em 1em 2em 1em;
}

header {
  font-variant: small-caps;
}

blockquote {
  border-left: 3px solid $highlight_color;
  padding-left: 1em;
}

footer {
  color: #111;
  font-size: $smallprint_size;
  text-align: center;
}

.sharebuttons {
  margin-top: 2em;
}
