<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8"/>
        <title>{{ page.title }} &ndash; {{ site.title }}</title>
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="{{ site.github.url }}/{{ page.url }}"/>    
        <meta property="og:site_name" content="{{ site.title }}"/>

        <meta name="viewport" content="width=device-width"/>

        <link rel="stylesheet" href="/stylesheets/default.css"/>
    </head>
    <body>
        <header>
            <hgroup>
                <h1 id="site-title"><a href="{{ site.github.url }}">{{ site.title }}</a></h1>
                {% if site.tagline %}
                <h2 id="site-tagline">{{ site.tagline }}</h2>
                {% endif %}
            </hgroup>
        </header>

        <hr/>

        {{ content }}

        {% include share.html %}
        <hr/>

        {% include comment.html %}
        <hr/>
        <footer>
            <p id="site-copyright">&copy; <a href="{{ site.github.url }}">{{ site.title }}</a> &middot; GPLv2 &middot; <a href="{{ site.github.repository_url }}">Fork on GitHub</a> &middot; Commit: {{ site.github.build_revision|truncate:9 }}</p>
            <p>Ongelma? Korjaa se! <code>git clone {{ site.github.clone_url }}</code>, tai <a href="{{ site.github.issues_url }}">kerro, miten se pitäisi korjata</a></p>
        </footer>
        {% include analytics.html %}
    </body>
</html>
